@model burger.Models.PedidoModel
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@{ var usuarioLogueado = ((burger.Entidades.User)HttpContext.Current.Session["UsuarioLogueado"]); }
<center><i class="fas fa-shipping-fast fa-8x"></i></center>
<br />
<h2 class="home-title">¡Su pedido esta en camino!</h2>
<hr />
<p class="home-description">A continuación se detalla tu pedido...</p>
<hr />

<p>Su Nro de pedido es @Model.PedidoId <strong>(Con este numero usted podra seguir el estado de su pedido)</strong></p>
@foreach (var pedido in Model.ProductosPedidos)
{
    <ul>
        <li>Hamburguesa: @pedido.Producto.Nombre</li>
        <li>Cantidad: @pedido.Cantidad</li>
        <li>Precio por Unidad: $@pedido.Producto.Precio</li>
        <li>Total: $@pedido.Total</li>
    </ul>
    <hr />
}
<h4 style=" background-color: lightcyan">Total a Pagar: $ @Model.Sumar(Model.ProductosPedidos)</h4>

<hr />
<h4>A nombre de: @usuarioLogueado.Usuario </h4>
<h4>El mismo se entregara en:</h4>
<h5 style="background-color: lightcyan">
    @Model.DatosConsumidor.Calle al @Model.DatosConsumidor.Numero (Piso: @Model.DatosConsumidor.Piso | Depto: @Model.DatosConsumidor.Depto)
</h5>
<h4>En caso de demora se llamará al número:</h4>
<h5 style="background-color: lightcyan"> @Model.DatosConsumidor.Telefono</h5>
<hr />
<h2 class="text-center">Que lo disfrute!</h2>
<hr />
<div class="col mb-2">
    <div class="row">
        <div class="col-sm-12  col-md-6">
            <a href="/Delivery/Reset" class="btn btn-block btn-success">Realizar Nuevo Pedido</a>
        </div>
        <div class="col-sm-12  col-md-6">
            <a href="/PedidoStatus/SeguirEnvio/@Model.PedidoId" class="btn btn-block btn-success">Seguir envio</a>
        </div>
    </div>
</div>
