@model burger.Models.PedidoModel
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<center><i class="fas fa-shipping-fast fa-8x"></i></center>
<br />
<h2 class="home-title">¡Su pedido esta en camino!</h2>
<hr />
<p class="home-description">A continuación se detalla tu pedido...</p>
<hr />

@foreach (var pedido in Model.ProductosPedidos)
{
    <ul>
        <li>Hamburguesa: @pedido.Nombre</li>
        <ul>
            <li>Cantidad: @pedido.Cantidad</li>
            <li>Precio por Unidad: $@pedido.Precio</li>
            <li>Total: $@pedido.Total</li>
        </ul>
    </ul>
}
<h4 style=" background-color: lightcyan">Total a Pagar: $ @Model.Sumar(Model.ProductosPedidos)</h4>

<hr />
<h4>El mismo se entregara en:</h4>
<h4 style=" background-color: lightcyan"> @Model.DatosConsumidor.Calle al @Model.DatosConsumidor.Numero (Piso: @Model.DatosConsumidor.Piso|Depto: @Model.DatosConsumidor.Depto)
<h4 />
</p>
<h4>En caso de demora se llamará al número:</h4>
<h4 style=" background-color: lightcyan"> @Model.DatosConsumidor.Telefono</h4>
<hr />
<h2>Que lo disfrute!</h2>
<hr />
<div class="col mb-2">
    <div class="row">
        <div class="col-sm-12  col-md-6">
            <a href="/Pedido/Reset" class="btn btn-block btn-success">Realizar Nuevo Pedido</a>
        </div>
    </div>
</div>
