@model burger.Models.PedidoAdminModel

@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <h2>Listado de pedidos</h2>
    <p>
        En esta seccion se muestran los pedidos realizados. Si estas viendo esto significa que sos un
        <strong>usuario administrador</strong>
    </p>
</div>
<hr />
<div class="accordion" id="accordionExample">
    @foreach (var p in Model.Pedidos)
    {
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Pedido-@p.Pedido.Id" aria-expanded="true" aria-controls="Pedido-@p.Pedido.Id">
                        Consumidor: @p.Usuario.Usuario (@p.Pedido.Calle @p.Pedido.Numero Piso: @p.Pedido.Piso | Depto: @p.Pedido.Depto)
                    </button>
                    @*<a href="#">Estado del pedido</a>*@
                </h2>
            </div>

            <div id="Pedido-@p.Pedido.Id" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="customers">
                        <tr>
                            <th>Productos</th>
                            <th>Cantidad</th>
                            <th>Estado del pedido</th>
                            <th>Confirmar Entrega</th>
                            <th>Seguir Envio</th>
                        </tr>
                        @foreach (var item in p.ProductosPedidos)
                        {
                            <tr>
                                <td>@item.Producto.Nombre</td>
                                <td>@item.Cantidad</td>
                                <td>@p.Pedido.EstadoPedido</td>
                                <td><a class="text-center" href="ConfirmarEntrega/@p.Pedido.Id"><i class="fas fa-check"></i></a></td>
                                <td><a class="text-center" href="/PedidoStatus/SeguirEnvio/@p.Pedido.Id"><i class="far fa-eye"></i></a></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<br />
<a class="btn btn-info" href="/Admin">Volver Atras</a>
<a class="btn btn-success" href="/Home/Index">Ir al inicio</a>

